@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: valentine;
}

@theme {
  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

/* Custom utilities for animation delay */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Outfit', system-ui, sans-serif;
}
